:root {
  --grid-padding: 0px;
}

.d-flex {
  display: flex;
}

.grid-padding-sm{  --grid-padding: 10px; }
.grid-padding-md{  --grid-padding: 15px; }

.container-fluid {--grid-padding: 0px; }

// default grid init
.row:before,.row:after{ display: table; content: " ";}
.row:after { clear: both;}
.g-1,.g-2,.g-3,.g-4,.g-5,.g-6,.g-7,.g-8,.g-9,.g-10,.g-11,.g-12,
.g-sm-1,.g-sm-2,.g-sm-3,.g-sm-4,.g-sm-5,.g-sm-6,.g-sm-7,.g-sm-8,.g-sm-9,.g-sm-10,.g-sm-11,.g-sm-12,
.g-md-1,.g-md-2,.g-md-3,.g-md-4,.g-md-5,.g-md-6,.g-md-7,.g-md-8,.g-md-9,.g-md-10,.g-md-11,.g-md-12,
.g-lg-1,.g-lg-2,.g-lg-3,.g-lg-4,.g-lg-5,.g-lg-6,.g-lg-7,.g-lg-8,.g-lg-9,.g-lg-10,.g-lg-11,.g-lg-12{
  position: relative;
  min-height: 1px;
}
.container {
  margin-right: auto;
  margin-left: auto;
}


.container {
  padding-left: var(--grid-padding);
  padding-right: var(--grid-padding);
}
.row {
  margin-left: calc(-1 * var(--grid-padding));
  margin-right: calc(-1 * var(--grid-padding));
}
// default grid
  .container {  width: 100%; }
  .g-1,.g-2,.g-3,.g-4,.g-5,.g-6,.g-7,.g-8,.g-9,.g-10,.g-11,.g-12{
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
  }

  .left  { float: left !important; }
  .right { float: right !important; }
  .hidden { display: none !important; }
  .visible{ display: block !important; }
  .visible-in{ display: inline !important; }
  .visible-ib{ display: inline-block !important; }

  .g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12 {float: left;}
  .g-12 {width: 100%;}
  .g-11 {width: 91.66666667%;}
  .g-10 {width: 83.33333333%;}
  .g-9 {width: 75%;}
  .g-8 {width: 66.66666667%;}
  .g-7 {width: 58.33333333%;}
  .g-6 {width: 50%;}
  .g-5 {width: 41.66666667%;}
  .g-4 {width: 33.33333333%;}
  .g-3 {width: 25%;}
  .g-2 {width: 16.66666667%;}
  .g-1 {width: 8.33333333%;}
// end default grid


// min-width: 410px padding 10
// min-width: 450px padding 15
.grid-sm{
  .container { width: 390px; }

  .g-1,.g-2,.g-3,.g-4,.g-5,.g-6,.g-7,.g-8,.g-9,.g-10,.g-11,.g-12,
  .g-sm-1,.g-sm-2,.g-sm-3,.g-sm-4,.g-sm-5,.g-sm-6,.g-sm-7,.g-sm-8,.g-sm-9,.g-sm-10,.g-sm-11,.g-sm-12{
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
  }

  .sm-left  { float: left !important; }
  .sm-right { float: right !important; }
  .sm-hidden { display: none !important; }
  .sm-visible{ display: block !important; }
  .sm-visible-in{ display: inline !important; }
  .sm-visible-ib{ display: inline-block !important; }

  .g-sm-1, .g-sm-2, .g-sm-3, .g-sm-4, .g-sm-5, .g-sm-6, .g-sm-7, .g-sm-8, .g-sm-9, .g-sm-10, .g-sm-11, .g-sm-12 {float: left;}
  .g-sm-12 {width: 100%;}
  .g-sm-11 {width: 91.66666667%;}
  .g-sm-10 {width: 83.33333333%;}
  .g-sm-9 {width: 75%;}
  .g-sm-8 {width: 66.66666667%;}
  .g-sm-7 {width: 58.33333333%;}
  .g-sm-6 {width: 50%;}
  .g-sm-5 {width: 41.66666667%;}
  .g-sm-4 {width: 33.33333333%;}
  .g-sm-3 {width: 25%;}
  .g-sm-2 {width: 16.66666667%;}
  .g-sm-1 {width: 8.33333333%;}
}

// min-width: 810px padding 10
// min-width: 930px padding 15
.grid-md{
  .container { width: 780px; }

  .g-1,.g-2,.g-3,.g-4,.g-5,.g-6,.g-7,.g-8,.g-9,.g-10,.g-11,.g-12,
  .g-sm-1,.g-sm-2,.g-sm-3,.g-sm-4,.g-sm-5,.g-sm-6,.g-sm-7,.g-sm-8,.g-sm-9,.g-sm-10,.g-sm-11,.g-sm-12,
  .g-md-1,.g-md-2,.g-md-3,.g-md-4,.g-md-5,.g-md-6,.g-md-7,.g-md-8,.g-md-9,.g-md-10,.g-md-11,.g-md-12{
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
  }

  .md-left  { float: left !important; }
  .md-right { float: right !important; }
  .md-hidden { display: none !important; }
  .md-visible{ display: block !important; }
  .md-visible-in{ display: inline !important; }
  .md-visible-ib{ display: inline-block !important; }

  .g-md-1, .g-md-2, .g-md-3, .g-md-4, .g-md-5, .g-md-6, .g-md-7, .g-md-8, .g-md-9, .g-md-10, .g-md-11, .g-md-12 {float: left;}
  .g-md-12 {width: 100%;}
  .g-md-11 {width: 91.66666667%;}
  .g-md-10 {width: 83.33333333%;}
  .g-md-9 {width: 75%;}
  .g-md-8 {width: 66.66666667%;}
  .g-md-7 {width: 58.33333333%;}
  .g-md-6 {width: 50%;}
  .g-md-5 {width: 41.66666667%;}
  .g-md-4 {width: 33.33333333%;}
  .g-md-3 {width: 25%;}
  .g-md-2 {width: 16.66666667%;}
  .g-md-1 {width: 8.33333333%;}
}


// min-width: 1200px padding 10
// min-width: 1380px padding 15
.grid-lg{
  .container { width: 1170px; }

  .g-1,.g-2,.g-3,.g-4,.g-5,.g-6,.g-7,.g-8,.g-9,.g-10,.g-11,.g-12,
  .g-sm-1,.g-sm-2,.g-sm-3,.g-sm-4,.g-sm-5,.g-sm-6,.g-sm-7,.g-sm-8,.g-sm-9,.g-sm-10,.g-sm-11,.g-sm-12,
  .g-md-1,.g-md-2,.g-md-3,.g-md-4,.g-md-5,.g-md-6,.g-md-7,.g-md-8,.g-md-9,.g-md-10,.g-md-11,.g-md-12,
  .g-lg-1,.g-lg-2,.g-lg-3,.g-lg-4,.g-lg-5,.g-lg-6,.g-lg-7,.g-lg-8,.g-lg-9,.g-lg-10,.g-lg-11,.g-lg-12{
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
  }

  .lg-left  { float: left !important; }
  .lg-right { float: right !important; }
  .lg-hidden { display: none !important; }
  .lg-visible{ display: block !important; }
  .lg-visible-in{ display: inline !important; }
  .lg-visible-ib{ display: inline-block !important; }

  .g-lg-1, .g-lg-2, .g-lg-3, .g-lg-4, .g-lg-5, .g-lg-6, .g-lg-7, .g-lg-8, .g-lg-9, .g-lg-10, .g-lg-11, .g-lg-12 {float: left;}
  .g-lg-12 {width: 100%;}
  .g-lg-11 {width: 91.66666667%;}
  .g-lg-10 {width: 83.33333333%;}
  .g-lg-9 {width: 75%;}
  .g-lg-8 {width: 66.66666667%;}
  .g-lg-7 {width: 58.33333333%;}
  .g-lg-6 {width: 50%;}
  .g-lg-5 {width: 41.66666667%;}
  .g-lg-4 {width: 33.33333333%;}
  .g-lg-3 {width: 25%;}
  .g-lg-2 {width: 16.66666667%;}
  .g-lg-1 {width: 8.33333333%;}
}