
a {
  color: #000000;
  text-decoration: none;
}
a:hover, a.active{
  // color: #ff0000;
  text-decoration: none;
  // border-bottom: 1px solid red;
  // svg path{fill:#f00;}
  // svg rect{fill:#f00;}
  // svg polygon{fill:#f00;}
}
a:focus {
  outline: none;
  //outline: thin dotted;
  //outline: 5px auto -webkit-focus-ring-color;
  //outline-offset: -2px;
}