
// используем префикс FEI (form element item)
// используем css variable
.fve {

  --fve-input--display      : block;
  --fve-input--margin       : 0 0 0 0;
  --fve-input--padding      : 11px 16px;
  --fve-input--width        : 100%;
  --fve-input--height       : 48px;
  // font
  --fve-input--font-family  : "Montserrat", Monospase, sans-serif;
  --fve-input--font-size    : 16px;
  --fve-input--font-color   : 16px;
  --fve-input--line-height  : 16px;
  // border
  --fve-input--border       : 1px solid #E4E6EB;
  --fve-input--border-color : #E4E6EB;
  --fve-input--border-radius: 4px;
  // background
  --fve-input--background: #ffffff;
  --fve-input--background-color: #ffffff;

  // #fix textarea
  --fve-textarea--height    : 105px;


  // === color
  --fve-color: #2C3242;
  --fve-color-gray: #757A8A;
  --fve-color-prime: #094E91;
  --fve-color-placeholder: #9E9E9E;
  --fve-color-success: #009688;
  --fve-color-error: #DC472E;
  // === checkbox
  --fve-checkbox-size: 18px;
  --fve-checkbox-mark: "\2713";
  --fve-checkbox-mark-size: 12px;
  --fve-checkbox-indent: 30px;

  // === radio
  --fve-radio-size: 16px;
  --fve-radio-mark-size: 8px;
  --fve-radio-margin: 6px;
  --fve-radio-indent: 30px;

}


/*
.fve {
  // parent block
  --fve--display: block;
  --fve--margin: 0 12px 0 0;
  --fve--padding: 11px 16px;
  --fve--color: #2C3242;
  --fve--font-size: 16px;
  --fve--line-height: 1.3;

  // label block
  // label
  --fve-label--display: inline-block;
  --fve-label--margin: 0 0 3px 0;
  --fve-label--padding: 0 0 0 0;
  --fve-label--color: #757A8A;
  --fve-label--font-size: 0.75em;
  --fve-label--line-height: 1.3;

  // label-require
  --fve-label-require--display: inline-block;
  --fve-label-require--margin: 0 4px 0 0;
  --fve-label-require--padding: 0 0 0 0;
  --fve-label-require--color: #DC472E;
  --fve-label-require--font-size: 1.2em;
  --fve-label-require--line-height: 1.3;

  // field block
  --fve-field--display: inline-block;
  --fve-field--margin: 0 0 3px 0;
  --fve-field--padding: 0 0 0 0;
  --fve-field--color: #757A8A;
  --fve-field--font-size: 0.75em;
  --fve-field--line-height: 1.3;

  // message block
}
*/
