// Импортировать глобально
// @import "~@widgetFormValidate/style/const.scss";

// используем префикс FEI (form element item)
// используем css variable
:root /* .fve */ {

  --fve-input--display      : block;
  --fve-input--margin       : 0 0 0 0;
  --fve-input--padding      : 11px 16px;
  --fve-input--width        : 100%;
  --fve-input--height       : 48px;
  // font
  --fve-input--font-family  : "Montserrat", Monospase, sans-serif;
  --fve-input--font-size    : 16px;
  --fve-input--font-weight  : 400;
  --fve-input--font-color   : #000000;
  --fve-input--line-height  : 16px;
  // border
  --fve-input--border       : 1px solid #E4E6EB;
  --fve-input--border-color : #E4E6EB;
  --fve-input--border-radius: 4px;
  // background
  --fve-input--background: #ffffff;
  --fve-input--background-color: #ffffff;

  // #fix textarea
  --fve-textarea--height    : 105px;


  // === color
  --fve-color: #2C3242;
  --fve-color-gray: #757A8A;
  --fve-color-prime: #094E91;
  --fve-color-success: #009688;
  --fve-color-error: #DC472E;

  //
  --fve-placeholder--font-family  : var(--fve-input--font-family);
  --fve-placeholder--font-size    : var(--fve-input--font-size);
  --fve-placeholder--font-weight  : var(--fve-input--font-weight);
  --fve-placeholder--font-color   : #ddd;
  --fve-placeholder--line-height  : var(--fve-input--line-height);

  // === checkbox
  --fve-checkbox-size: 18px;
  --fve-checkbox-mark: "\2713";
  --fve-checkbox-mark-size: 12px;
  --fve-checkbox-indent: 30px;

  // === radio
  --fve-radio-size: 16px;
  --fve-radio-mark-size: 8px;
  --fve-radio-margin: 6px;
  --fve-radio-indent: 30px;

}

.fve-require {
  --fve-input--border-color : #f5ac1c;
  //--fve-input--background-color: #fefbf3;
}
.fve.fve-status__error {
  --fve-input--border-color : var(--fve-color-error);
  --fve-input--background-color: #fff5f5;
}
