

.text-red {
  color: var(--color-red-03);
}

.form-group {
  margin-bottom: 1.5rem;
}

.icon_color_default {
  path {
    fill: var(--color-icon-default);
  }
}

.icon_color_default:hover {
  path {
    fill: var(--color-icon-active);
  }
}

.icon_color_gray {
  path {
    fill: var(--color-icon-gray);
  }
}

.icon_color_gray:hover {
  path {
    fill: var(--color-icon-active);
  }
}

.text_color_default {
  color: $color-icon-default;
}

.icon_color_active {
  path {
    fill: var(--color-icon-active);
  }
}

.icon_color_dark {
  path {
    fill: var(--color-black);
  }
}

.icon_color_dark:hover {
  path {
    fill: var(--color-icon-active);
  }
}
