
html, body {
  line-height: 1.4;
}
html, body, a {
  font-family: Inter, Arial, sans-serif;
  color: #15131f;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
html {
  overflow: hidden;
}
body {
  background: #F8F8FB;
}
