// vue3-perfect-scrollbar custom styles

$scroll-width: 4px;
$scroll-radius: 10px;

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  height: $scroll-width;
  bottom: 4px;
}
.ps__rail-y {
  display: none;
  opacity: 0;
  width: $scroll-width;
  right: 4px;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: var(--color-gray-02);
}
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: var(--color-gray-02);
  opacity: 1;
}
/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: var(--color-gray-04);
  border-radius: $scroll-radius;
  height: $scroll-width;
  bottom: 0;
  opacity: 0.6;
}
.ps__thumb-y {
  background-color: var(--color-gray-04);
  border-radius: $scroll-radius;
  width: $scroll-width;
  right: 0;
  opacity: 0.6;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: var(--color-gray-04);
  height: $scroll-width;
  opacity: 0.6;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: var(--color-gray-04);
  width: $scroll-width;
  opacity: 0.6;
}
