// Заносим сюда все цвета из рута, создать единым файлом, где храним стили с префиксом th


.th-color-secondary   { color: var(--color-secondary); }
//.th-color-gray-03     { color: var(--color-gray-03); }
//.th-color-gray-02     { color: var(--color-gray-02); }
//.th-color-gray-01     { color: var(--color-gray-01); }
