/*
@font-face {
  font-family: 'Inter';
  src: url('~@font/Inter/Inter-SemiBold.woff2') format('woff2'),
  url('~@font/Inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('~@font/Inter/Inter-Bold.woff2') format('woff2'),
  url('~@font/Inter/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('~@font/Inter/Inter-Regular.woff2') format('woff2'),
  url('~@font/Inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/
