
// переменные для настройки можно взять тут
//   @import "~bootstrap/scss/_variables.scss";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
$grid-columns:      12;
$grid-gutter-width: 30px;
$grid-row-columns:  6; // class row-cols-5 (сетка на 5 колонок)

@import "~bootstrap/scss/bootstrap-grid.scss";
// bootstrap container fix
@media (min-width: 576px) and (max-width: 769px) {
  .container, .container-sm {
    max-width: 540px;
  }
}
