* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {padding:0;margin:0;width:100%;height:100%;}

@import "htmlElement/heading";
@import "htmlElement/img";
@import "htmlElement/link";
@import "htmlElement/list";
@import "htmlElement/form.scss";

// custom
//body{padding:15px;}
#app{padding:0;margin:0;width:100%;height:100%; background: #FFFFFF; overflow-y: auto; }
